body {
	padding-top: 50px;
}
#wrapper {
	min-height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0;
	display: inline-block;
	margin-top: 82px;
}
#main-wrapper {
	height: 100%;
	overflow-y: auto;
	padding: 0px 0 0px 0;
}
#main {
	position: relative;
	height: 100%;
	overflow-y: auto;
	padding: 0 0px;
}
#main a {
	color: #168DD9;
	text-decoration: none;
}

#sidebar-wrapper {
	height: 100%;
	padding: 0px 0 0px 0;
	position: fixed;
	border-right: 1px solid #aaa;
}
#sidebar {
	position: relative;
	height: 100%;
	overflow: hidden;
	font-family: Georgia, serif;
	line-height: 1.2em;
}
#sidebar .list-group-item {
	border-radius: 0;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}
a.list-group-item {
	background: #fafafa;
}
@media (max-width: 992px) {
	body {
		padding-top: 0px;
	}
}
@media (min-width: 992px) {
	#main-wrapper {
		float: right;
	}
}
@media (max-width: 992px) {
	#main-wrapper {
		padding-top: 0px;
	}
}
@media (max-width: 992px) {
	#sidebar-wrapper {
		position: static;
		height: auto;
		max-height: 300px;
		border-right: 0;
	}
}
.footer {
	background-color: #ffffff;
	bottom: 0;
	position: fixed;
	padding: 10px;
}
.input-group-btn {
	width: 100px;
}

/*NAVBAR HEADER*/
#header a:hover {
	color:#fff;
}
#reading {
	background: #393939; 
	color: #fff;
	height: 32px;
	margin-top: 48px;
	padding-top: 8px;
	padding-left: 15px;
	font-size: 12px;
	cursor: pointer;
	font-weight: bold;
}
#reading .top-news {
	color: #168DD9;
	display: inline;
	margin-left: 5px;
	font-weight: bold;
}
#reading:hover {
	background: #168DD9;
	color: #000;
	font-weight: bold;
}
#reading:hover .top-news {
	color: #fff;
}

.navbar {
	background: #000;
	/*min-height: 44px;*/
}
.navbar-fixed-top {
	border-width: 0;
}
.navbar-default .navbar-brand {
	color: #fff;
	font-size: 26px;
	letter-spacing: 7px;
	font-family: 'Helvetica Neue', sans-serif;
}
.navbar-default {
	border-color: #393939;
}

/*DROP-DOWN*/
.dropdown-menu {
	border: 4px solid #8c8c8c;
	top: 50px;
	padding: 0;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 13px;
	width: 200px;
}
.dropdown-menu li{
	padding-top: 5px;
	padding-bottom: 5px;
	
}
.dropdown-menu li.divider {
	padding: 0;
	margin: 0;
	background-color: #8c8c8c;

}
.dropdown-menu.pull-right li.divider:hover {
	padding: 0;
	margin: 0;
	cursor: default;
}
.dropdown-menu.pull-right li:hover {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #168DD9;
	cursor: pointer;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background-color: #000;
}

a.dropdown-toggle:hover .glyphicon{
	color: #168DD9;
}
a.dropdown-toggle:hover b {
	color: #168DD9;
}

.dropdown-menu li {
	background: #000;
	color: #fff;
}
.dropdown-menu li a {
	color: #fff;
}
.dropdown-menu li a:hover {
	background: #168DD9;
}

/*POSTS*/
.post-title {
	font-family: 'AdelleSansWeb','Helvetica Neue',Arial,Helvetica,sans-serif;
	font-size: 36px;
	margin-left: 18%;
	width: 65%;
	font-weight: bold;
	line-height: 40px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.byline {
	font-family: Georgia, serif;
	color: #999;
	font-size: 15px;
	margin-left: 18%;
	margin-bottom: 30px;
}
.text {
	margin-left: 18%;
	font-family: Georgia, serif;
	font-size: 17px;
	line-height: 1.6em;
	width: 65%;
	color: #404040;
}
.text p {
	margin-bottom: 20px;
}
.feature-image {
	width: 100%;
	margin-bottom: 30px;
}
.feature-image img {
	width: 100%;
}
.image-credit {
	margin-left: 10px;
	color: #999;
	font-style: italic;
}
.black-band {
	background: #000;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 12px;
	color: #fff;
	font-size: 12px;
}
.story-space {
	margin-top:82px;
}

/*VISUALIZATIONS*/
.viz {
	width: 125%; 
	height: 500px;
	margin-left:-130px;
}
#ChartDiv1 {
	margin-left: -120px;
}
