body {
	padding-top: 50px;
}
#wrapper {
	min-height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0;
	display: inline-block;
	margin-top: 82px;
}
#main-wrapper {
	height: 100%;
	overflow-y: auto;
	padding: 0px 0 0px 0;
}
#main {
	position: relative;
	height: 100%;
	overflow-y: auto;
	padding: 0 0px;
}
#main a {
	color: #168DD9;
	text-decoration: none;
}

#sidebar-wrapper {
	height: 100%;
	padding: 0px 0 0px 0;
	position: fixed;
	border-right: 1px solid #aaa;
}
#sidebar {
	position: relative;
	height: 100%;
	overflow: hidden;
	font-family: Georgia, serif;
	line-height: 1.2em;
}
#sidebar .list-group-item {
	border-radius: 0;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}
a.list-group-item {
	background: #fafafa;
}
.footer {
	background-color: #ffffff;
	bottom: 0;
	position: fixed;
	padding: 10px;
}
.input-group-btn {
	width: 100px;
}

/*RESPONSIVE*/
@media (min-width: 992px) {
	#main-wrapper {
		float: right;
	}
}
@media (max-width: 992px) {
	body {
		padding-top: 0px;
	}
	#sidebar-wrapper {
		position: static;
		height: auto;
		max-height: 300px;
		border-right: 0;
	}
	#main-wrapper {
		padding-top: 0px;
	}
}
@media (max-width: 767px) {
	#reading {
		display: none;
	}
}
@media (max-width: 767px) {
	#map-canvas {
		width: 500px;
	}
}
@media (min-width: 767px) {
	#map-canvas {
		width: 100%;
	}
}
@media (max-width: 480px) {
	#map-viz {
		display: none;
	}
}
@media (min-width: 480px) {
	#no-map {
		display: none;
	}
}

/*NAVBAR HEADER*/
#header a:hover {
	color: #fff;
}
#reading {
	background: #393939;
	color: #fff;
	height: 32px;
	margin-top: 48px;
	padding-top: 8px;
	padding-left: 15px;
	font-size: 12px;
	cursor: pointer;
	font-weight: bold;
}
#reading .top-news {
	color: #168DD9;
	display: inline;
	margin-left: 5px;
	font-weight: bold;
}
#reading:hover {
	background: #168DD9;
	color: #000;
	font-weight: bold;
}
#reading:hover .top-news {
	color: #fff;
}

.navbar {
	background: #000;
	/*min-height: 44px;*/
}
.nav-head {
	color: #056ca5;
	text-transform: uppercase;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 11px;
	margin-bottom: 8px;
	font-weight: bold;
}
.navbar-fixed-top {
	border-width: 0;
}
.navbar-default .navbar-brand {
	color: #fff;
	font-size: 26px;
	letter-spacing: 7px;
	font-family: 'Helvetica Neue', sans-serif;
}
.navbar-default {
	border-color: #393939;
}

/*DROP-DOWN*/
.dropdown-menu {
	border: 4px solid #8c8c8c;
	top: 48px;
	padding: 0;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 13px;
	width: 203px;
}
.dropdown-menu li {
	padding-top: 7px;
	padding-bottom: 7px;
}
.dropdown-menu li.divider {
	padding: 0;
	margin: 0;
	background-color: #8c8c8c;
}
.dropdown-menu.pull-right li.divider:hover {
	padding: 0;
	margin: 0;
	cursor: default;
}
.dropdown-menu.pull-right li:hover {
	background-color: #168DD9;
	cursor: pointer;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #000;
}
.navbar-right-item {
	border-left: 1px solid #8c8c8c;
	height: 48px;
	padding-left: 2px;
	padding-right: 2px;
}
a.dropdown-toggle:hover .glyphicon {
	color: #168DD9;
}
a.dropdown-toggle:hover b {
	color: #168DD9;
}

.dropdown-menu li {
	background: #000;
	color: #fff;
}
.dropdown-menu li a {
	color: #fff;
}
.dropdown-menu li a:hover {
	background: #168DD9;
}

/*POSTS*/
.post-head {
	margin-top: 20px;
	margin-left: 18%;
	color: #056ca5;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: bold;
}
.post-title {
	font-family: 'AdelleSansWeb', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 36px;
	margin-left: 18%;
	width: 65%;
	font-weight: bold;
	line-height: 40px;
	margin-bottom: 30px;
}
.chart-title {
	font-family: 'AdelleSansWeb', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}
.chart-subtitle {
	font-family: 'AdelleSansWeb', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 17px;
	margin-bottom: 2px;
	margin-left: 1px;
	font-style: italic;
}
.byline {
	font-family: Georgia, serif;
	color: #999;
	font-size: 15px;
	margin-left: 18%;
	margin-bottom: 30px;
}
.text {
	margin-left: 18%;
	font-family: Georgia, serif;
	font-size: 17px;
	line-height: 1.6em;
	width: 65%;
	color: #404040;
}
.text p {
	margin-bottom: 20px;
}
.feature-image {
	width: 100%;
	margin-bottom: 30px;
}
.feature-image img {
	width: 100%;
}
.image-credit {
	margin-left: 10px;
	color: #999;
	font-style: italic;
}
.black-band {
	background: #000;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 12px;
	color: #fff;
	font-size: 12px;
}
.story-space {
	margin-top: 44px;
}
.no-head-space {
	margin-top: 10px;
}

/*STORY 1 CHARTS*/
.viz {
	width: 120%;
	height: 500px;
	margin-left: -60px;
}
#ChartDiv1 {
	margin-left: -60px;
	width: 110%;
}
.chart-note {
	font-family: 'AdelleSansWeb', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
}

/*STORY 2 CAROUSEL*/
#carousel-example-generic {
	margin-top: 2px;
	margin-bottom: 20px;
}
.carousel-indicators {
	margin-bottom: -16px;
}
.carousel-indicators li {
	background: #ddd;
}
.carousel-indcators li.active {
	background-color: black;
	background: black;
	margin: 20;
}
.bird-card {
	background: #F0F0F0;
	padding: 20px 13% 20px 13%;
	font-family: 'AdelleSansWeb', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	height: 310px;
}
.bird-name {
	font-size: 20px;
	margin-bottom: 14px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
.bird-item-number {
	font-size: 34px;
	color: #056ca5;
	font-style: italic;
	margin-right: 4px;
}
.bird-number {
	margin-top: -6px;
	font-weight: bold;
	text-transform: uppercase;
}
.bird-number-text {
	color: #056ca5;
}
.bird-photo {
	width: 32%;
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
}
.bird-photo img {
	width: 100%;
}
.bird-info {
	font-size: 14px;
	line-height: 1.5em;
	margin-top: 10px;
}
.bird-image-credit {
	margin-top: 2px;
	font-size: 12px;
	font-style: italic;
}

/*STORY 3 CHARTS*/
#myBirdKillingsChartDiv {

	margin-left: -50px;
	margin-bottom: 100px;
}
#myBirdMethodsChartDiv {
	margin-left: -45px;
}
#ChartDiv3 {
	margin-left: -45px;
	margin-bottom: 20px;
}
/*STORY 4 MAP*/
#map-canvas {
	margin-bottom: 20px;
}
#map-nav {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 4px;
	margin-left: 8px;
}
#controls-nav {
	margin-bottom: 35px;
}
#legend-nav {
	margin-bottom: 4px;
}
#no-map {
	border: 1px solid gray;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	font-family: sans-serif;
	font-style: italic;
	color: gray;
}
#no-map p {
	margin-top: 10px;
}
.map-nav-title {
	font-weight: bold;
}
.map-nav-subtitle {
	display: inline;
	font-style: italic;
	font-weight: normal;
	font-size: 15px;
}
.map-legend-item {
	float: left;
	font-size: 13px;
	padding-right: 10px;
}
.map-controls-item {
	float: left;
	font-size: 13px;
	padding-right: 10px;
}
label {
	font-weight: normal;
}
.googft-info-window {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.6em;
}